<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <servlet>
    <servlet-name>Compare</servlet-name>
    <servlet-class>compare.Compare</servlet-class>
    <multipart-config>
		<max-file-size>20848820</max-file-size>
		<max-request-size>418018841</max-request-size>
		<file-size-threshold>5242880</file-size-threshold>
	</multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>Compare</servlet-name>
    <url-pattern>/Compare</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>java.util.logging.ConsoleHandler.level</param-name>
    <param-value>INFO</param-value>
</context-param>
  
</web-app>