<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instructions</title>
    <link rel="icon" href="../images/insturctions.png" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="instructions-container">
      <h1>Instructions to Use the Excel Compare Tool</h1>
      <ol>
        <li>
          Select your Source, Target, and Property files from your device using the file input
          fields provided.
        </li>
        <li>
          Ensure that your source and target files are in either
          <strong>.xlsx</strong> or <strong>.xls</strong> format, and your
          property file is in <strong>.properties</strong> format.
        </li>
        <li>
            Click the <strong>"Compare Files"</strong> button to start the
            comparison process.
          </li>
        <li>
          As soon as the comparison is completed an
          <strong>Text file</strong> (.txt) format will be downloaded on your
          device with file name <strong>result_file</strong> from which you can
          analyze the results.
        </li>
      </ol>
    </div>
  </body>
</html>
